# Database
DATABASE_URL="postgresql://user:password@host:5432/dbname?sslmode=require"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generer-avec-openssl-rand-base64-32"

# Vercel Blob (upload CV)
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_..."

# Admin (seed initial)
ADMIN_EMAIL="admin@hugo-lembrez.fr"
ADMIN_PASSWORD="changeme123"
